/* start /styles/_pages/home.css*/
body {
  overflow-x: hidden;
  overflow-y: auto;
  background: url("/images/prelaunch/H1Z1_Teaser_BG_1800x1050.jpg") no-repeat top center #000000;
  background-size: 100%;
}
#body {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
#homepages {
  width: 100%;
  height: 0;
  padding-top: 60%;
  position: relative;
  overflow: hidden;
}
#foundsomething {
  position: absolute;
  bottom: 15%;
  left: 15%;
  width: 16%;
  height: 17%;
  z-index: 120;
}
#signsoflife {
  position: absolute;
  bottom: 19.8%;
  left: 18.6%;
  background: url("/images/prelaunch/signsoflife.png") no-repeat top center transparent;
  background-size: 100%;
  width: 2.67%;
  height: 4.29%;
  z-index: 130;
  opacity: 0;
  animation: signsoflife 8s linear infinite;
  -webkit-animation: signsoflife 8s linear infinite;
}
#signsoflife:hover {
  cursor: pointer;
}
#emailCap_open_btn_mobile {
  bottom: 35%;
  font-size: 10px;
  left: 33%;
  position: absolute;
  width: 34%;
  z-index: 130;
}
@keyframes signsoflife {
  0%,
  40% {
    opacity: 0;
  }
  41%,
  60% {
    opacity: 1;
  }
  60.1%,
  71% {
    opacity: 0;
  }
  71.1%,
  80% {
    opacity: 1;
  }
  80.1%,
  81% {
    opacity: 0;
  }
  81.1%,
  90% {
    opacity: 1;
  }
  90.1%,
  91% {
    opacity: 0;
  }
  91.1%,
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes signsoflife {
  0%,
  40% {
    opacity: 0;
  }
  41%,
  60% {
    opacity: 1;
  }
  60.1%,
  71% {
    opacity: 0;
  }
  71.1%,
  80% {
    opacity: 1;
  }
  80.1%,
  81% {
    opacity: 0;
  }
  81.1%,
  90% {
    opacity: 1;
  }
  90.1%,
  91% {
    opacity: 0;
  }
  91.1%,
  100% {
    opacity: 1;
  }
}
#mobile_emailCap {
  position: absolute;
  top: 30%;
  width: 40%;
  height: 40%;
  left: 30%;
  background-color: red;
  opacity: .7;
}
#emailCap {
  position: absolute;
  top: 28%;
  left: 30%;
  background: url('images/prelaunch/emailCap_box.png') no-repeat top center transparent;
  background-size: 100%;
  width: 41.83%;
  height: 30.67%;
  font-family: "Marcellus SC";
  color: white;
  z-index: 120;
  display: none;
  opacity: 0;
}
#emailCap a {
  color: #efb036;
}
@media (max-width: 1600px) {
  #emailCap {
    width: 50%;
    height: 36.66%;
    left: 25%;
    top: 24%;
  }
}
@media (max-width: 1200px) {
  #emailCap {
    width: 60%;
    height: 43.99%;
    left: 25%;
    top: 24%;
  }
}
@media (max-width: 1024px) {
  #emailCap {
    width: 90%;
    height: 65.99%;
    left: 7%;
    top: 14%;
  }
}
@media (max-width: 767px) {
  #emailCap {
    background-color: #707070;
    background-image: none;
    height: 68%;
    left: 10%;
    top: 2%;
    width: 80%;
  }
}
#emailCap_close_btn {
  background: url('images/prelaunch/emailCap_close_btn.png') no-repeat top center transparent;
  background-size: 100%;
  width: 2.12%;
  height: 4.97%;
  position: absolute;
  top: 19%;
  right: 5%;
}
@media (max-width: 767px) {
  #emailCap_close_btn {
    display: none;
  }
}
#emailCap_close_btn_mobile {
  font-size: 12px;
  height: 12%;
  position: absolute;
  right: 3%;
  text-align: right;
  top: 0;
  width: 15%;
  color: #efb036;
  cursor: pointer;
}
#emailCap_close_btn:hover {
  background-position: bottom center;
  cursor: pointer;
}
#emailCap_message_01 {
  font-size: 26px;
  position: absolute;
  top: 27%;
  width: 100%;
  text-align: center;
  padding-right: 2%;
}
@media (max-width: 767px) {
  #emailCap_message_01 {
    font-size: 13px;
    padding: 0;
    top: 10%;
  }
}
#h1z1EmailSignup {
  position: absolute;
  width: 100%;
  height: 100%;
}
#h1z1EmailSignup.success {
  padding: 18% 8%;
  font-size: 20px;
  text-align: center;
}
@media (max-width: 767px) {
  #h1z1EmailSignup.success {
    font-size: 11px;
    padding: 0 10%;
    top: 30%;
  }
}
#emailTextBox {
  background: url('images/prelaunch/emailCap_text_box.png') no-repeat top center transparent;
  background-size: 100%;
  width: 54.58%;
  height: 10.87%;
  border: 0 none;
  background-color: transparent;
  line-height: 90%;
  font-size: 20px;
  color: #707070;
  position: absolute;
  top: 44%;
  left: 9%;
  padding: 0 6px;
}
@media (max-width: 767px) {
  #emailTextBox {
    font-size: 12px;
    height: 14%;
    left: 10%;
    top: 25%;
    width: 80%;
  }
}
#emailSubmitBtn {
  background: url('images/prelaunch/emailCap_submit_btn.png') no-repeat top center transparent;
  background-size: 100%;
  width: 27.36%;
  height: 22.36%;
  outline: 0 none;
  border: 0 none;
  padding: 0;
  margin: 0;
  position: absolute;
  top: 40%;
  right: 8%;
}
@media (max-width: 767px) {
  #emailSubmitBtn {
    height: 28%;
    left: 30%;
    top: 37%;
    width: 40%;
  }
}
#emailSubmitBtn:active {
  cursor: pointer;
  background-position: bottom center;
}
@media (max-width: 767px) {
  #emailSubmitBtn:active {
    background-position: top center;
  }
}
#emailErrors {
  position: absolute;
  top: 63%;
  width: 100%;
  color: red;
  padding-left: 9%;
}
#emailErrors .errorlineone {
  display: inline-block;
}
@media (max-width: 767px) {
  #emailErrors {
    font-size: 10px;
    left: 5%;
    padding: 0;
    top: 59%;
    width: 90%;
    text-align: center;
  }
  #emailErrors .errorlineone {
    display: none;
  }
}
#emailCap_legal {
  position: absolute;
  top: 69%;
  width: 100%;
  font-size: 14px;
  padding: 0 9%;
}
@media (max-width: 767px) {
  #emailCap_legal {
    font-size: 9px;
    left: 5%;
    padding: 0;
    top: 69%;
    width: 90%;
  }
}
#whatsthat {
  position: absolute;
  top: 33%;
  left: 13%;
  background: url("/images/prelaunch/whatsthat.gif") no-repeat top center transparent;
  width: 2px;
  height: 2px;
  opacity: .3;
}
#external_links {
  position: absolute;
  bottom: 17%;
  text-align: center;
  color: #666;
  width: 100%;
  margin: 0 auto;
  z-index: 110;
}
@media (max-width: 767px) {
  #external_links {
    font-size: 9px;
  }
}
#external_links a {
  display: inline-block;
  color: #2A6496;
}
#external_links a:hover {
  color: #428BCA;
}
#redditlink,
#twitchlink {
  display: inline-block;
}
#twitchlink {
  margin-left: 60px;
}
#footer {
  background: url("/images/prelaunch/overlay_bottom_dark.png") no-repeat top center transparent;
  background-size: 100%;
  height: 351px;
  width: 100%;
  margin-top: -24%;
  padding-top: 24%;
  position: absolute;
}
#audiocontrol {
  background-image: url("/images/prelaunch/soundIcon.png");
  background-repeat: no-repeat;
  background-color: transparent;
  width: 35px;
  height: 50px;
  position: absolute;
  right: 5px;
  opacity: .3;
}
#audiocontrol:hover {
  opacity: 1;
  cursor: pointer;
}
.music_on {
  background-position: top left;
}
.music_on:hover {
  background-position: bottom left;
}
.music_off {
  background-position: top right;
}
.music_off:hover {
  background-position: bottom right;
}
.fogwrapper {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
}
#foglayer_01 {
  width: 200%;
  height: 100%;
  position: absolute;
  animation: foglayer_01_opacity 10s linear infinite, foglayer_moveme 15s linear infinite;
  -webkit-animation: foglayer_01_opacity 10s linear infinite, foglayer_moveme 15s linear infinite;
}
#foglayer_01 .image01,
#foglayer_01 .image02 {
  background: url("/images/prelaunch/fog1.png") repeat-x top left transparent;
  background-size: 100%;
  width: 50%;
  height: 100%;
  float: left;
}
#foglayer_02 {
  width: 200%;
  height: 100%;
  position: absolute;
  animation: foglayer_02_opacity 21s linear infinite,
				foglayer_moveme 13s linear infinite;
  -webkit-animation: foglayer_01_opacity 10s linear infinite,
				foglayer_moveme 15s linear infinite;
}
#foglayer_02 .image01,
#foglayer_02 .image02 {
  background: url("/images/prelaunch/fog2.png") repeat-x top left transparent;
  background-size: 100%;
  width: 50%;
  height: 100%;
  float: left;
}
#foglayer_03 {
  width: 180%;
  height: 100%;
  position: absolute;
  top: -100%;
  transform: rotate(90deg);
  animation: foglayer_03_opacity 20s linear infinite, foglayer_03_moveme 10s linear infinite;
}
#foglayer_03 .image01,
#foglayer_03 .image02 {
  background: url("/images/prelaunch/fog2.png") no-repeat top left transparent;
  background-size: 100%;
  width: 56%;
  height: 100%;
}
@keyframes foglayer_01_opacity {
  0% {
    opacity: .1;
  }
  22% {
    opacity: .5;
  }
  40% {
    opacity: .28;
  }
  58% {
    opacity: .4;
  }
  80% {
    opacity: .16;
  }
  100% {
    opacity: .1;
  }
}
@-webkit-keyframes foglayer_01_opacity {
  0% {
    opacity: .1;
  }
  22% {
    opacity: .5;
  }
  40% {
    opacity: .28;
  }
  58% {
    opacity: .4;
  }
  80% {
    opacity: .16;
  }
  100% {
    opacity: .1;
  }
}
@keyframes foglayer_02_opacity {
  0% {
    opacity: .5;
  }
  25% {
    opacity: .2;
  }
  50% {
    opacity: .1;
  }
  80% {
    opacity: .3;
  }
  100% {
    opacity: .5;
  }
}
@-webkit-keyframes foglayer_02_opacity {
  0% {
    opacity: .5;
  }
  25% {
    opacity: .2;
  }
  50% {
    opacity: .1;
  }
  80% {
    opacity: .3;
  }
  100% {
    opacity: .5;
  }
}
@keyframes foglayer_moveme {
  0% {
    left: 0;
  }
  100% {
    left: -100%;
  }
}
@-webkit-keyframes foglayer_moveme {
  0% {
    left: 0;
  }
  100% {
    left: -100%;
  }
}
@keyframes foglayer_03_opacity {
  0% {
    opacity: .8;
  }
  27% {
    opacity: .2;
  }
  52% {
    opacity: .6;
  }
  68% {
    opacity: .3;
  }
  100% {
    opacity: .8;
  }
}
@-webkit-keyframes foglayer_03_opacity {
  0% {
    opacity: .8;
  }
  27% {
    opacity: .2;
  }
  52% {
    opacity: .6;
  }
  68% {
    opacity: .3;
  }
  100% {
    opacity: .8;
  }
}
@keyframes foglayer_03_moveme {
  0% {
    top: -100%;
  }
  100% {
    top: 0;
  }
}
@-webkit-keyframes foglayer_03_moveme {
  0% {
    top: -100%;
  }
  100% {
    top: 0;
  }
}
.star {
  width: 2px;
  height: 2px;
  background-color: white;
  position: absolute;
}
@media (max-width: 768px) {
  .star {
    display: none;
  }
}
#s1 {
  margin-left: 39.5%;
  margin-top: 4.55%;
  -webkit-animation: startwinkle 2s alternate infinite;
  -moz-animation: startwinkle 2s alternate infinite;
  -o-animation: startwinkle 2s alternate infinite;
  animation: startwinkle 2s alternate infinite;
}
#s2 {
  margin-left: 15.35%;
  margin-top: 6.3%;
  -webkit-animation: startwinkle 3s alternate infinite;
  -moz-animation: startwinkle 3s alternate infinite;
  -o-animation: startwinkle 3s alternate infinite;
  animation: startwinkle 3s alternate infinite;
}
#s3 {
  margin-left: 48%;
  margin-top: 8%;
  -webkit-animation: startwinkle 4s alternate infinite;
  -moz-animation: startwinkle 4s alternate infinite;
  -o-animation: startwinkle 4s alternate infinite;
  animation: startwinkle 4s alternate infinite;
}
#s4 {
  margin-left: 81%;
  margin-top: 5%;
  -webkit-animation: startwinkle 5s alternate infinite;
  -moz-animation: startwinkle 5s alternate infinite;
  -o-animation: startwinkle 5s alternate infinite;
  animation: startwinkle 5s alternate infinite;
}
@-webkit-keyframes startwinkle {
  0% {
    opacity: 0;
  }
  50% {
    opacity: .75;
  }
  75% {
    opacity: .25;
  }
  100% {
    opacity: .50;
  }
}
@-moz-keyframes startwinkle {
  0% {
    opacity: 0;
  }
  50% {
    opacity: .75;
  }
  75% {
    opacity: .25;
  }
  100% {
    opacity: .50;
  }
}
@-o-keyframes startwinkle {
  0% {
    opacity: 0;
  }
  50% {
    opacity: .75;
  }
  75% {
    opacity: .25;
  }
  100% {
    opacity: .50;
  }
}
@keyframes startwinkle {
  0% {
    opacity: 0;
  }
  50% {
    opacity: .75;
  }
  75% {
    opacity: .25;
  }
  100% {
    opacity: .50;
  }
}
#footer .copyright {
  font-size: 8px;
  text-align: center;
  margin-top: 3px;
  color: #282828;
}
@media (max-width: 767px) {
  #footer .copyright {
    font-size: 8px;
  }
}


/* end /styles/_pages/home.css*/